/* History Square */

.colors-history-square {
    width: 15px;
    height: 15px;
    font-size: 1px;
}


/* Label on left side of color box */

.ed-color-box-label {
    position: absolute;
    right: 6.6rem;
    top: 2.5rem;
    width: 5rem;
    transform: rotate(-90deg);
}

.ed-color-box {
    width: 8rem;
}

/* Label on left side of color box - new color */

#box-new-label {
    top: 8.5rem;
}