/* History Square */

.colors-history-square {
    width: 15px;
    height: 15px;
    font-size: 1px;
}


/* Label on left side of color box */

.ed-color-box-label {
    position: absolute;
    right: 7rem;
    top: 3.5rem;
    width: 5rem;
    transform: rotate(-90deg);
}

/* Label on left side of color box - new color */

#box-new-label {
    top: 10.5rem;
}