.historySquare {
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
}

br.clear {
  clear: both;
}

#pickedColorDiv {
  margin-top: 20px;
}

#paypal-donation-about {
  text-align: center;
  margin-top: 20px;
}

#colorPreview .preview {
    padding: 4px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    width: 28px;
    height: 16px;
    margin: 2px;
    margin-right: 8px;
    /* -webkit-box-shadow: 2px 2px 0px white; */
    border: 1px solid #666;
    background-color: #ffbbca;
}

#colorPreview .colRow {
    height: 28px;
    clear: both;
    font-family: monospace;
    font-size: 10px;

}

html {
    min-width: 538px;
}

/* Fix for button shifting when using tooltip
 * see https://github.com/twitter/bootstrap/issues/5704
 */
.btn-group > .tooltip + .btn,
.btn-group > .popover + .btn{
    margin-left:-1px;
}

.btn-group > .btn:last-of-type {
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* End of fix */