html { 
  height: auto;
}

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 10px;
  text-align: left;
  min-width: 400px;
  height: auto;
  margin: 0px; padding: 0px;
  background: transparent;
}

#footer {
  font-family: Arial, Verdana, sans-serif;
  text-align: right;  
  margin-top: 5px;
  padding: 10px;
  padding-top: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#e6f2cb));
}

#footer span#flattrbutton {
  float: left;
}

#footer a {
  color: black;
}

#footer a:hover {
  color: navy;
}

.small {
  width: 40px;
}

.icon { 
  float: left; 
  margin-right: 10px;
}

.pledgie {
  margin-top: 20px;
  text-align: center;
}

.historySquare {
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
}

br.clear {
  clear: both;
}

#pickedColorDiv {
  margin-top: 20px;
}

#clearHistory {
  margin-top: 20px;
  text-align: right;
}

#pickupMessage {
  margin-top: 8px;
  background-color: #fec438;
  padding: 4px;
  font-weight: bold;
  border: 1px solid #444;
  border-radius: 3px;
}

.ui-tabs .ui-tabs-hide {
  display: none;
  position: absolute;
  left: -10000px;
}

.ui-tabs {
  border: 0px !important;
}

#paypal-donation-about {
  text-align: center;
  margin-top: 20px;
}

