/*.historySquare {*/
  /*width: 15px;*/
  /*height: 15px;*/
  /*border: 1px solid #666;*/
  /*float: left;*/
  /*margin-right: 2px;*/
  /*margin-bottom: 2px;*/
/*}*/

#disableMessageHelp {
    color: #b94a48;
}

#history div.label {
    width: 15px;
    height: 15px;
    padding: 0px;
    font-size: 1px;
    margin: 2px;
    border: 1px solid #666;
}

#history div.label:hover {
    border: 2px solid #666;
    margin: 1px;
}

#history em {
    font-size: 0.9em;
}

#history h5 {
    color: #666;
}

#history h5 small {
    position: relative;
    top: -2px;
    margin-left: 10px;
}

/* font color */
i {
    color: #666;
}

br.clear {
  clear: both;
}

#pickedColorDiv {
  margin-top: 20px;
}

#paypal-donation-about {
  text-align: center;
  margin-top: 20px;
}

/* color preview on right side */
#colorPreview {
    margin-top: 58px;
    max-width: 140px;
}

.colorPreviewBox {
    position: relative;
    padding: 5px 5px 5px 9px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Echo out a label for the example */
.colorPreviewBox:after {
    position: absolute;
    bottom: 24px;
    left: -44px;

    width: 58px;

    padding: 1px 7px;

    font-size: 12px;
    font-weight: bold;

    color: #9da0a4;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#curColor {
    margin-bottom: 10px;
}
#curColor div.colorPreviewBox:after {
    content: "Selected";
}

#newColor div.colorPreviewBox:after {
    content: "New";
}

.colRow .label {
    background-color: rgba(153,153,153,153,0.63);
    font-family: monospace;
}

/* We have to set min-width so extension doesn't look like crap */
html {
    min-width: 538px;
}

/* Footer design */
#footer {
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
    margin-top: 10px;
}

#footer div#flattrbutton {
    margin-top: 15px;
    margin-left: 19px;
}

/* Fix for button shifting when using tooltip
 * see https://github.com/twitter/bootstrap/issues/5704
 */
.btn-group > .tooltip + .btn,
.btn-group > .popover + .btn{
    margin-left:-1px;
}

.btn-group > .btn:last-of-type {
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* End of fix */

a#yellow-border-hack {
    position: absolute;
    top: -1000px;
}
