body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 10px;
  text-align: left;
}

#footer {
  text-align: right;  
  margin-top: 20px;
}

#footer a {
  color: black;
}

#footer a:hover {
  color: navy;
}

.small {
  width: 40px;
}

.icon { 
  float: left; 
  margin-right: 10px;
}

#options {
  max-width: 600px;
}

.pledgie {
  margin-top: 20px;
  text-align: center;
}

#status {
  color: green;
}
