body {
  font-family: Tahoma;
}

h3 {
  font-family: Verdana, Arial;
  font-size: 1em;
  background-color: #7c9ac1;
  color: white;
  border: 2px solid #6183ad;
  text-align: center;
  padding: 3px;
}

#footer {
  text-align: right;  
  margin-top: 20px;
  font-size: 0.8em;
}

.small {
  width: 40px;
}

.icon { 
  float: left; 
  margin-right: 10px;
}

#options {
  max-width: 600px;
}
